.vscode/
*.json
add_ids.py
.env
env
__pycache__/

change_names.py
update_application.py
names.txt
*_blueprints.sh
*.log
shipyard_to_sanity.py
add_bp_ids.py
runner.py
test_file.py

webflow_runner.py


# directories
scripts/
application/


